<div class="card-spot mx-3 flex-same-size">
  <div class="d-flex justify-content-center py-2 text-primary border-bottom">
    <span class='fw-bold' data-bs-toggle="modal" data-bs-target="#spotModal-<%= spot.id %>"><%= spot.name %> <small class='text-light fw-light'>(<%= spot.spot_places.count %>)</small></span>
    <%= render 'spots/modal', spot: spot %>
  </div>
  <div data-controller="sortablejs" class="h-100 mt-3" data-id="<%= spot.id %>">
    <% spot.spot_places.order(:rank).each do |spot_place| %>
      <%= render 'spot_places/row', spot_place: spot_place %>
    <% end %>
  </div>
</div>
