<div class="card-spot mx-2 flex-same-size" data-id="<%= spot.id %>">
  <div class="d-flex justify-content-center py-2 text-primary border-bottom">
    <span class='fw-bold' data-bs-toggle="modal" data-bs-target="#spotModal-<%= spot.id %>"><i class="fa-solid fa-grip handle"></i> <%= spot.name %> <small class='text-light fw-light'>(<%= spot.spot_places.count %>)</small></span>
    <%= render 'spots/modal', spot: spot, row_number: row_number, squad: squad %>
  </div>
  <div data-controller="sortable-rows" class="h-100 mt-3" data-id="<%= spot.id %>">
    <% spot.spot_places.order(:rank).each_with_index do |spot_place, index| %>
      <%= render 'spot_places/row', spot_place: spot_place, index: index %>
    <% end %>
  </div>
</div>
