<%= turbo_frame_tag dom_id(player, "update") do %>
  <div class="row align-items-center spot-place-row mb-2">
    <div class="col-12 col-sm-2">
      <div class="d-flex align-items-center">
        <div class="d-flex flex-column">
          <small class='text-nowrap fw-bold' style="color: <%= player.text_color %>"><%= player.name %></small>
          <!--
          <div class="d-flex text-small align-items-center fw-light">
            <div class="position-relative">
              <div class="text-transparent">stars</div>
              <%#= render 'players/stars_form', player: player %>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-2">
      <% url = spot_place.id ? import_spot_place_path(spot_place) : spot_places_path %>
      <%= simple_form_for spot_place, url: url, remote: true, html: { data: { controller: 'submit-form' } } do |f| %>
        <%= f.association :player, as: :hidden, input_html: { value: player.id }, wrapper_html: { style: 'margin-bottom: 0 !important' } %>
        <div class="d-flex">
          <%= f.association :spot, collection: spots, selected: player.recommended_spot(spots).id, label: false, input_html: { class: 'ms-2 border-0', data: { action: 'change->submit-form#submit' } }, wrapper_html: { class: '' }, required: false %>
          <%# raise %>
          <%= f.submit 'âœ”ï¸', class: "btn btn-success #{ 'd-none' if spot_place.id }", data: { submit_form_target: 'btn', group_submit_target: 'btn' } %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <div class="row">
        <%= render 'players/import_form', player: player %>
      </div>
    </div>
    <div class="col-12 col-sm-1">
      <%= link_to player_path(player, squad_id: squad.id, remote: true), class: "ms-3 tab-underlined text-danger", data: { turbo_method: :delete, group_submit_target: 'link'}  do %>
        <small><i class="fa-regular fa-circle-xmark"></i></small>
      <% end %>
    </div>
  </div>
<% end %>
