<!-- Modal -->
<div class="modal fade" id="playerModal-<%= player.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-end">
          <h1 class="modal-title fs-5 me-2" id="exampleModalLabel"><%= player.name %></h1>
          <small><%= player.positions %></small>
          <small>
            <%= link_to player_path(player, squad_id: squad.id), class: "tab-underlined", data: { turbo_method: :delete, turbo_confirm: "⚠️ Remove player from squad? This is irreversible."}  do %>
              <i class="fa-solid fa-trash text-light ms-2"></i>
            <% end %>
          </small>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'tags/modal', player: player, tags: tags, player_tag: player_tag %>
        <%= render 'players/form', player: player %>
      </div>
    </div>
  </div>
</div>
