<div class="d-flex align-items-center justify-content-between spot-place-row py-2 <%= 'border-bottom border-light border-opacity-25' if index == 1 %>" data-id="<%= spot_place.id %>">
  <div class="d-flex align-items-center">
    <i class="fa-solid fa-grip me-2 handle"></i>
    <div class="d-flex flex-column">
      <small class='text-nowrap fw-bold cursor-pointer' data-bs-toggle="modal" data-bs-target="#playerModal-<%= spot_place.player.id %>" style="color: <%= spot_place.player.text_color %>"><%= spot_place.player.name %></small>
      <div class="d-flex text-small align-items-center">
        <div class="d-flex me-1 <%= 'text-danger' if spot_place.player.age && spot_place.player&.age >= 32 %> <%= 'text-success' if spot_place.player.age && spot_place.player&.age < 20 %>">
          <%= spot_place.player&.age %>
        </div>
        <div class="d-flex me-1 fw-light">
          - <%= spot_place.player.positions %> -
        </div>
        <div class="position-relative fw-light">
          <div class="text-transparent">stars</div>
          <%= render 'players/stars', number: spot_place.player.potential_high, special: true %>
          <%= render 'players/stars', number: spot_place.player.current_ability, special: false %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'spot_places/tags', player: spot_place.player  %>
</div>
<%= render 'players/modal', spot_place: spot_place, player: spot_place.player, tags: @tags, player_tag: @player_tag, squad: spot_place.spot.squad %>
