<div class="container my-3">
  <ul class="nav tabs-underlined" id="myTab" role="tablist">
    <li class="nav-item me-3" role="presentation">
      <span class="nav-link tab-underlined active" id="new-tab" data-bs-toggle="tab" data-bs-target="#new-tab-pane" role="tab" aria-controls="new-tab-pane" aria-selected="true">New Players (<%= @unconfirmed_players.count %>)</span>
    </li>
    <li class="nav-item me-3" role="presentation">
      <span class="nav-link tab-underlined" id="already-tab" data-bs-toggle="tab" data-bs-target="#already-tab-pane" role="tab" aria-controls="already-tab-pane" aria-selected="false">Existing Players (<%= @imported_spot_places.count %>)</span>
    </li>
    <li class="nav-item me-3" role="presentation">
      <span class="nav-link tab-underlined" id="missing-tab" data-bs-toggle="tab" data-bs-target="#missing-tab-pane" role="tab" aria-controls="missing-tab-pane" aria-selected="false">Missing from Import (<%= @missing_spot_places.count %>)</span>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="new-tab-pane" role="tabpanel" aria-labelledby="new-tab" tabindex="0">
      <% if @unconfirmed_players.any? %>
        <% @unconfirmed_players.each do |player| %>
          <%= render 'players/imported', player: player, spot_place: @spot_place, spots: @spots, tags: @tags, player_tag: @player_tag, squad: @squad %>
        <% end %>
      <% else %>
        <span>No players for this section</span>
      <% end %>
    </div>
    <div class="tab-pane fade py-3" id="already-tab-pane" role="tabpanel" aria-labelledby="already-tab" tabindex="0">
      <% if @imported_spot_places.any? %>
        <% @imported_spot_places.each do |spot_place| %>
          <%= render 'players/imported', player: spot_place.player, spot_place: spot_place, spots: @spots, tags: @tags, player_tag: @player_tag, squad: @squad %>
        <% end %>
      <% else %>
        <span>No players for this section</span>
      <% end %>
    </div>
    <div class="tab-pane fade py-3" id="missing-tab-pane" role="tabpanel" aria-labelledby="missing-tab" tabindex="0">
      <% if @missing_spot_places.any? %>
        <% @missing_spot_places.each do |spot_place| %>
          <%= render 'players/imported', player: spot_place.player, squad: @squad, spot_place: spot_place, spots: @spots, tags: @tags, player_tag: @player_tag, squad: @squad %>
        <% end %>
      <% else %>
        <span>No players for this section</span>
      <% end %>
    </div>
  </div>
</div>
