<div class="container mt-3">
  <div class="row">
    <h1>New Squad for <%= @team.name %></h1>
    <%= simple_form_for [@team, @squad], data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
      <%= f.input :name %>
      <%= f.input :total_rows %>
      <%= f.simple_fields_for :spots do |spots_form| %>
        <%= spots_form.input :name %>
        <%= spots_form.input :row_number %>
        <%= spots_form.input :rank %>
        <%= spots_form.association :position %>
      <% end %>
      <div data-nested-form-target="target"></div>
      <button type="button" data-action="nested-form#add">Add todo</button>
      <%= f.submit class: 'btn btn-primary mt-2' %>
    <% end %>
  </div>
</div>
