<div class="container mt-3">
  <%= render 'squads/header', squad: @squad, new_squad: @new_squad, team: @team %>
  <%= render 'squads/subheader', squad: @squad %>
  <%= render 'players/colors' %>
  <% @spots.each do |row_number, spots| %>
    <div class="d-flex justify-content-evenly mb-3" data-controller="sortable-cards" data-row="<%= row_number %>">
      <% spots.sort_by(&:rank).each do |spot| %>
        <%= render 'spots/card', spot: spot, row_number: row_number, squad: @squad %>
      <% end %>
      <div class='d-flex align-items-center'>
        <i class="fa-solid fa-circle-plus opacity-25 cursor-pointer" data-bs-toggle="modal" data-bs-target="#spotModal-row-<%= row_number %>"></i>
        <%= render 'spots/modal', spot: Spot.new, row_number: row_number, squad: @squad %>
      </div>
    </div>
  <% end %>
  <div class='d-flex justify-content-center align-items-center mb-5'>
    <i class="fa-solid fa-circle-plus opacity-25 cursor-pointer" data-bs-toggle="modal" data-bs-target="#spotModal-row-<%= @row_number %>"></i>
    <%= render 'spots/modal', spot: Spot.new, row_number: @row_number, squad: @squad %>
  </div>
</div>
